body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  border-top: 2px solid #1b9af7;
  margin: 0;
}
.hello-world {
  padding-top: 150px;
  font-size: 32px;
}
.about-me {
  font-size: 16px;
  margin-top: 70px;
  color: #666;
}
a {
  color:#ff667a;
  text-decoration: none;
}
a:hover {
  color:#ff4351;
  text-decoration: underline;
}
.social-profile {
  margin: 30px 0;
  line-height: 10px;
}
.email-wrapper {
  margin-top: 30px;
}
.btn {
  background: #1b9af7;
  color: white;
  padding: 13px 30px;
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: none;
  border-radius: 2px;
  border: 3px solid #1b9af7;
  font-size: 16px;
}
.btn:hover {
  background:transparent;
  color:#1b9af7;
  text-decoration: none;
}